<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="#/home">Home</a>
      <a class="blog-nav-item active" href="">{{pdf.data.fileName}}</a>
    </nav>
  </div>
</div>

<div class="container">

  <div class="blog-header" id="header">
    <h1 class="blog-title">{{pdf.data.fileName}}</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">Sample content</h2>
        <p class="blog-post-meta">{{pdf.data.date}} by <a href="">{{pdf.data.author}}</a></p>

        <p>{{pdf.data.content}}</p>
        <p>{{pdf.data.content}}</p>
        <p>{{pdf.data.content}}</p>
        <p>{{pdf.data.content}}</p>
        <p>{{pdf.data.content}}</p>
        <p>{{pdf.data.content}}</p>

      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
  </div><!-- /.row -->
</div><!-- /.container -->

<div class="blog-footer">
  <p>
    <a href="#/home">Back to search engine</a>
  </p>
</div>