<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="#/home">Home</a>
    </nav>
  </div>
</div>

<div class="container">
	<div class="row searchNoResults" ng-class="{searchPositioned:answers.data.length > 0}">
		<h1 class="text-center">Thesis Searcher</h1>
	</div>
	<div class="row">
		<div class="col-lg-6 col-center">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="What's on your mind?" ng-model="query" autofocus value="{{currentSearch}}">
		      <span class="input-group-btn">
		        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
		    </div>
		</div>
	</div>

	<div class="row answersPositioned">
		<div ng-show="answers.data.length > 0" class="table-responsive">
		  <table class="table table-striped table-hover">
		    <thead>
		        <tr>
		          <th>#</th>
		          <th>File <b class="caret"></b></th>
		          <th>Author <b class="caret"></b></th>
		          <th>Date <b class="caret"></b></th>
		          <th>Link</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="answer in answers.data">
		          <td>{{answer.id}}</td>
		          <td>{{answer.fileName}}</td>
		          <td>{{answer.author}}</td>
		          <td>{{answer.date}}</td>
		          <td><a href="#/detail/{{answer.id}}">PDF</a></td>
		        </tr>
		      </tbody>
		    </table>
		</div>
		{{answers}}
	</div>
</div>