<div class="container">
	<div class="row searchPositioned">
		<h1 class="text-center">Thesis Searcher</h1>
	</div>
	<div class="row">
		<div class="col-lg-6 col-center">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="What's on your mind?" ng-model="query">
		      <span class="input-group-btn">
		        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
		    </div>
		</div>
	</div>
	<div class="row searchPositioned">
		Answers here
	</div>
</div>